:root {
  --text-white-color: #fff;
  --text-black-color: #000000;
  --welcome-logo-card-bg: #fff;
  --welcome-main: #fff;
  --welcome-main-font-size: 32px;
  --welcome-main-font-color: #fff;
  --welcome-main-action-font-color: #6035bf;
}
