:root {
  --text-white-color: #fff;
  --text-black-color: #000000;
  --welcome-logo-card-bg: #fff;
  --welcome-main: #fff;
  --welcome-main-font-size: 32px;
  --welcome-main-font-color: #fff;
  --welcome-main-action-font-color: #6035bf;
  --button-bg: #5c33be;
  --button-color: #fff;
  --button-font-szie: 18px;
  --button-border-radius: 8px;
}
