.nav_bar_wrapper {
  color: var(--nav-bar-text-color);
  fill: var(--nav-bar-text-color);
  background: linear-gradient(to bottom, #5d33be 0%, #8f4cd7 100%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 16px 12px 16px;
}
.title_wrapper {
  font-size: 24px;
  margin-left: 12px;
}
.icon_wrapper {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    max-width: 100%;
    max-height: 100%;
  }
}
